<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings - Finance Tracker</title>
    {% load static %} 
    <link rel="stylesheet" href ="{% static 'css/account-settings.css' %}" >
    </head>
    <body>
        <div class="container">
            <h1>Account Settings</h1>
            
            <div class="section">
                <h2>Profile Settings</h2>
                <div class="setting">
                    <label for="fullname">Full Name:</label>
                    <input type="text" id="fullname" placeholder="Enter your full name">
                </div>
                <div class="setting">
                    <label for="profilePicture">Profile Picture:</label>
                    <input type="file" id="profilePicture">
                    <button>Change Profile Picture</button>
                </div>
                <div class="setting">
                    <button>Save Profile</button>
                </div>
                
                <div class="section">
                    <h2>Contact Information</h2>
                    <div class="setting">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" placeholder="Enter your phone number" value="{{ phone_number }}">
                    </div>
                    <div class="setting">
                        <label for="emailAddress">Email Address:</label>
                        <input type="text" id="emailAddress" placeholder="Enter your email address">
                    </div>
                    <div class="setting">
                        <button>Update Contact Information</button>
                    </div>
                    
            </div>
            
            <div class="section">
                <h2>Security Settings</h2>
                <div class="setting">
                    <label for="password">Password:</label>
                    <input type="password" id="password" placeholder="Enter your password" value="{{ password }}">
                </div>
                <div class="setting">
                    <button>Change Password</button>
                </div>
                <div class="setting">
                    <label for="twoFactor">Two-Factor Authentication:</label>
                    <input type="checkbox" id="twoFactor">
                    <button>Enable Two-Factor Authentication</button>
                </div>
            </div>
            
            <div class="logout">
                <button>Logout</button>
            </div>
        </div>
    </body>
</html>
